# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Linters
compile_commands.json
*.out
mobile-cd

# Bundler
.bundle
vendor/

# CocoaPods
Pods/

coverage/

# CI
pod_lib_lint.log
swiftlint.log

Podfile.lock
*.orig

